<launch>
	 <group ns="$(arg ev3_hostname)">
	 		<!-- Load joint controller configurations from YAML file to parameter server -->
	  	<rosparam file="$(find h4r_ev3_launch)/config/gyro.yaml" command="load"/>
	
	  	<!-- load the controllers -->
	  	<node name="ev3_sensor_spawner" pkg="controller_manager" type="spawner" respawn="false"
	    output="screen" args="Ev3Gyro"/>
	</group>	  	
</launch>
