<launch>
	<group ns="$(arg ev3_hostname)">
		<node pkg="h4r_ev3_manager" type="ev3_manager_node" name="ev3_manager_node" output="screen" >
			<rosparam param="OutPorts">["outA","outB","outC","outD"]</rosparam>	
			<rosparam param="InPorts">["in1","in2","in3","in4"]</rosparam>			
		</node>
	 	<!-- Load joint controller configurations from YAML file to parameter server -->
	  	<rosparam file="$(find h4r_ev3_launch)/config/motors.yaml" command="load"/>
	
	  	<!-- load the controllers 
	  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	    output="screen" args="OutPortState OutPortA OutPortB "/>-->
	</group>		
</launch>
 