<launch>
	<node pkg="h4r_ev3_ctrl" type="ev3_ctrl_node" name="ev3_ctrl" output="screen" ns="/ev3" />
	
 	<!-- Load joint controller configurations from YAML file to parameter server -->
  	<rosparam file="$(find h4r_ev3_ctrl)/ctrl_cfg/ev3.yaml" command="load"/>

  	<!-- load the controllers -->
  	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/ev3" args="OutPortState OutPortA OutPortB OutPortC OutPortD"/>
		
</launch>
